<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LSCompressionLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>LSEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>LSFileLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>LSGraphicsLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>LSImageLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>LSMathLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>LSMemLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>LSModelLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>LSNetLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>LSPhysicsLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>LSSoundLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>LSStandardLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>LSTL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>LSThreadLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE31565719BF309C00F22633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE31566419BF309C00F22633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE55E1A218E6380F00C0E16A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B251B18E63B1500CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B255218E63DD400CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B256218E63DFB00CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B257218E63E4A00CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B258218E63E7800CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B259218E63E9600CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B25A218E63EBB00CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B25B218E63ECE00CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B25C218E63EDE00CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B25D218E63EFA00CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B25E218E63F0C00CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9B25F218E63F2200CFD001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
