<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LSCompressionLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LSEngine OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LSEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LSFileLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LSGraphicsLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LSImageLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LSMathLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>LSMemLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>LSModelLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>LSNetLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>LSPhysicsLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>LSSoundLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>LSStandardLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>LSTL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LSThreadLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE2FAB841B1465FF00E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FAB901B14681100E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FAB9A1B14681100E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FABD81B14693000E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FAC1B1B14698400E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FACA21B1469E000E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FAD1B1B146A4600E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FAD361B146A7400E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FAEB51B146AC300E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FBBF11B146B1000E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FBC991B146B4600E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FBCC01B146B7E00E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FBCC81B146BCB00E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FBD1F1B146C5F00E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FD1221B146CE800E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FD1DA1B146D3300E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2FD22E1B146D6300E430F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
